.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 8vw;
    margin: 5vh;
    text-align: center;
}

.weekly-movies{
    background-color: rgb(192, 189, 189);
    padding: 2vw;
    margin: 4vw;
}