.season-poster{
    width: 40vw;
    height: 40vw;
}

.season-container{
    display: flex;
    margin: 3vw;
    border: 1px solid rgb(146, 143, 143);
}

.season-number{
    text-align: center;
    background-color: rgb(226, 219, 209);
    font-size: 3vw;
    align-self: center;
}

.season-details{
    width: 100%;
}

.show-episodes-btn{
    text-decoration: none;
    color: black;
    background-color: rgba(255, 249, 249, 0.842);
    padding: 1vw;
    margin-bottom: -10px;
}

.show-more-btn a {
    text-decoration: none;
    color: black;
    font-size: 2.5vw;
    transition: 1s;
}

.show-more-btn a:hover{
    color: white;
}

.season-details button{
    margin-top: 12vw;
}