.single-crew-container{
    display: flex;
    justify-content: space-between;
    margin: 1vw 0;
    background-color: rgb(206, 204, 202);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 5px 15px black;
    box-sizing: border-box;
    width: 45%;
}

.crew-image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.crew-name{
    font-size: 3vw;
    margin: 0;
    padding: 0;
}

.crew-type{
    margin: 0;
    padding: 0;
    font-size: 1.7vw;
}

@media (max-width: 900px) {
    .single-crew-container{
        width: 90%;
    }
 
    .crew-image{
         border-radius: 50%;
         width: 100px;
         height: 100px;
     }
 
     .crew-name{
         font-size: 5vw;
         margin: 0;
         padding: 0;
     }
     
     .crew-type{
         margin: 0;
         padding: 0;
         font-size: 3.5vw;
     }
 }