.show-container{
    background-color: rgb(192, 189, 189);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(146, 143, 143);
}

.container{
    background-color: rgb(192, 189, 189);
    width: 90vw;
    margin: 5vw;
    padding-bottom: 15px;
}

.show-poster{
    width: 40vw;
    height: 50vw;
}

.show-title{
    width: 50vw;
    font-size: 4vw;
    background-color: rgb(211, 208, 208);
    margin-bottom: 5vw;
}

.show-detail{
    text-align: left;
    border-top: 1px solid rgb(146, 143, 143);
    border-bottom: 1px solid rgb(146, 143, 143);
    font-size: 2vw;
    font-weight: lighter;
    margin-top: -3px;
    padding: 1px;
    padding-left: 1vw;
}

.show-detail span{
    font-weight: bold;
}

.show-full-summary{
    background-color: rgb(211, 208, 208);
    width: 80vw;
    margin-left: 5vw;
    border-radius: 5px;
    box-shadow: 2px 5px 10px black;
    padding-bottom: 10px;
}

.show-full-summary h2 {
    font-size: 5vw;
    border-bottom: 1px solid rgb(146, 143, 143);
    padding: 1vw;
}

.short-summary{
    font-size: 2.5vw;
    text-shadow: 0px 1px 1.5px ;
}

.show-seasons{
    font-size: 5vw;
    padding: 1vw;
    border-bottom: 1px solid rgb(146, 143, 143);
}

.cast-container, .crew-container{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.show-more-container, .show-crew-container{
    width: 80vw;
    background-color: rgb(235, 228, 221);
    margin-left: 5vw;
    padding-bottom: 10px;
    box-shadow: 1px 2px 10px;
}

.show-crew-container{
    background-color: rgb(206, 204, 202);
}

.show-btn{
    width: 25vw;
    height: 6vw;
    font-size: 3vw;
    background-color: white;    
    border: none;
    transition: 1s;
    cursor: pointer;
    box-shadow: 1px 2px 10px;
    margin: 10px;
}

.show-btn:hover{
    background-color: rgb(121, 119, 119);
    color: white;
}

@media (max-width: 900px) {
    .cast-container{
        display: flex;
    }
}